.nav{
    width:100%;
    background-color: black;
    display: flex;
    height: 70px;
    border-radius: 20px;
}
h1,h2{
    color: white;
}
.text{
  display: flex;  
  width:30%;
  justify-content: space-between;

}
.logo{
  width: 65%;
  margin-left: 20px;
  margin-top: -5px;
}
a{
    color: white;
    text-decoration: none;
}
